body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    color: #161616;
    line-height: 1.6;
    margin: 0;
    padding: 0;
     overflow-x: hidden; 
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  .Logo {
    width: 150px;
  }

  .botaoteste {
    width: 80%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 18px;
  }

  .Logo {
    width: 120px;
  }

  input {
    width: 90%;
    font-size: 14px;
  }

  .botaoteste {
    width: 90%;
    font-size: 15px;
  }
}

header {
    background-color: #161616;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #252525;
    border-radius: 20px; 
    color: #fff;
    box-shadow: 0 0 10px rgba(206, 201, 201, 0.1);
    text-align: center;
}

.Logo {
    width: 200px; 
    height: auto;
    border: 5px solid #ffffff;  
    border-radius: 50px;    
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #494949;
    color: #fff;
    position: static;
    bottom: 0;
    width: 100%;
}

.botaoteste {
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
  padding: 20px 50px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  font-size: 20px;
}

.botaoteste:hover {
  background-color: #45a049;
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

input {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  font-size: 20px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
}

